.wrap
{
	margin: 0px auto;
	width: 500px;
}

.add  .user
{
	float: left;
}

.add  .btn
{
	float:right;
}

.add .content
{
	width:500px;
	margin: 0;
	padding: 0;
}

.add
{
	overflow: hidden;
}

.info{
	overflow: hidden;
}

.msg
{
	margin: 0px auto;
}

.msg .user
{
	float: left;
	margin: 0px auto;
}

.msg .user
{
	float: right;
}